html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
}

a {
  font-size: 2rem;
}

div {
  margin: 1rem;
}
